/* NAVBAR */


.custom-navbar {
            background-color: #705C53;
            padding: 1rem 0;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        
        .navbar-brand img {
            height: 50px;
            width: auto;
        }
        
        .navbar-nav .nav-link {
            color: #ffffff ;
            position: relative;
            left: 30rem;
            font-size: 1.1rem;
            font-weight: 500;
            margin: 0 0.5rem;
            transition: color 0.3s ease;
            text-align: end;
        }
        
        .navbar-nav .nav-link:hover {
            color: #ffffff ;
        }
        
        .navbar-nav .nav-link.active {
            color: #ffff ;
            font-weight: 600;
        }
        
        
     /* KESENIAN */

