/* NAVBAR */


.custom-navbar {
            background-color: #705C53;
            padding: 1rem 0;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        
        .navbar-brand img {
            height: 50px;
            width: auto;
        }
        
        .navbar-nav .nav-link {
            color: #ffffff ;
            position: relative;
            left: 30rem;
            font-size: 1.1rem;
            font-weight: 500;
            margin: 0 0.5rem;
            transition: color 0.3s ease;
            text-align: end;
        }
        
        .navbar-nav .nav-link:hover {
            color: #ffffff ;
        }
        
        .navbar-nav .nav-link.active {
            color: #ffffff ;
            font-weight: 600;
        }


        /* Hero */

        .hero {
          background-image: url(image/hero.png);
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .hero .title h1{
          text-transform: uppercase;
          color: white;
          font-size: 5em;
          font-weight: bold;
        }


        

.mijudul{
    position: absolute;
        top: 17rem;
        left: 20rem;
        color: #ffff;
        font-size: 5rem;
        text-align: justify;
}
.miboxa{
    width: 100%;
    height: 40rem;
    background-color: #F5F5F7;
}
.miboxju{
    width: 60%;
    height: 3rem;
    background-color: #EDDFE0;
}
.miboxju h4{
    position: absolute;    
        color: #000;
        font-size: 1.5rem;
        width: 4rem;
        
}
.mimage img{
    position: absolute;
    top:66rem;
    width: 13vw;
    height: auto;
    border-radius: 25px 25px 25px 25px;
    
}


        
     /* KESENIAN */
        
/* LANDING PAGE */

.maRec3 {
    margin-left: 34.5rem;
}

.marec3 {
    background-color: #705C53;
    object-fit: cover;
    width: 13rem;
    height: 20rem;
    margin-right: 1rem;
}

.majdl {
    font-family: italiana;
    margin-left: 3rem;
    margin-top: -18rem;
}

.maisi {
    font-size: 0.6;
    font-family: istok web;
    margin-top: 1rem;
} 

.matwo {
    background-color: #C5C7BC;
    width: 79rem;
    height: 36rem;
    margin-top: 5rem;
}

.mafto {
    margin-top: 5.5rem;
    height: 25rem;
}

.majdlo {
    font-family: italiana;
    margin-left: 31rem;
    margin-top: -27.5rem;
}

.maisio {
    font-size: 0.6;
    font-family: istok web;
    margin-top: 1rem;
} 

.mathree {
    margin-top: 9rem;
}

.majdlet {
    font-family: italiana;
    text-align: center;
}

.macon {
    margin-left: 8rem;
    margin-top: 4rem;
}

.marec4 {
    margin-top: 2rem;
}

.mafo {
    object-fit: cover;
    width: 14rem;
    height: 10rem;
}

.matxt {
    margin-left: 4rem;
    margin-top: 2rem;
    font-family: Jacques Francois;
}


      .judul h1 {
        font-size: 3em;
        color: #705C53;
        text-transform: capitalize;
        text-align: center;
        text-shadow: #705C53;
        font-weight: bold;
      }

      .content {
        padding: 15px 20px;
        display: flex;
        gap: 50px;

      }

      .content .img img {
        width: 100%;
        height: 100%;
      }

      

      .content .text {
        width: 60%;
        font-size: 2rem;
      }

      .garis {
      position: relative;
      left: -1rem;
      /* top: 2rem; */
      border: none;
      height: 3px;
      background-color: #705C53;
      width: 100%;
      
    }

    .judul2 h1 {
        font-size: 3em;
        color: #705C53;
        text-transform: capitalize;
        text-align: center;
        text-shadow: #705C53;
        font-weight: bold;
        position: relative;
        top: 4rem;
        
      }

    .img2{
      position: relative;
      top: 7rem;

    }

    .lcontainer{
      position: relative;
      right: -46.3rem;
      background-color: #705C53;
      width: 32rem;
      height: 23.5rem;
      top: -16.5rem;
      font-size: 1.6rem;
      color: #ffffff;
      text-align: left;
  }


/* .kesenian{
        position: absolute;
        top: 17rem;
        left: 20rem;
        color: floralwhite;
        font-size: 5rem;
        text-align: justify;
        text-shadow: #ffffff;
       
     }
.musik{
    position: absolute;
    top: 47rem;
    left: 25rem;
    font-size: 4rem;
    text-align: justify;
    color: #705C53;
    text-shadow: #6b4f43;
}


.Lcontainer{
  position: absolute;
  top: 60rem;
  width: 30rem;
  height: 18rem;
  background-color: #6b4f43;
}
.custom-img {
  position: absolute;
  top: 15rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(236, 10, 10, 0.1);

}

.custom-img {
  position: relative;
  z-index: 2;
}

.custom-img::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -10px;
  width: 90%;
  height: 10px;
  background-color: #6b4f43; 
  z-index: -1;
  
} 


.custom-text {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #222;
  position: absolute;
  top: 63rem;
}
 .garis {
      position: relative;
      left: -1rem;
      top: 25rem;
      border: none;
      height: 2px;
      background-color: #222 ;
      width: 100%;
    }

  .tari{
    top: 93rem;
    left: 25rem;
    font-size: 4rem;
    text-align: justify;
    color: #705C53;
    text-shadow: #584238
  }

  .element.img{
    
 
>>>>>>> 9aa7946ceb2a737cd48e6dc9e8c6d6cd9c3d99e0
>>>>>>> 9be4ef13e61355b67c6602dff8e7f0270941acf4
